* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    height: 80px;
    background-color: #FDA12E;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    line-height: 80px;
}

.header__title-main {
    width: 170px;
    height: 14px;
    cursor: pointer;
}

.header__logo {
    display: flex;
    background-color: rgba(232, 130, 21, 0.7);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.header__logo-ship {
    width: 45px;
    height: 45px;
}

.header__logo-active {
    font-weight: 600;
}

.header__logo-notify {
    color: #fff;
    font-size: 14px;
    padding-left: 8px;
}

.header__logo-icon {
    font-size: 10px;
    color: #fff;
    margin-left: 5px;
}

.header__navbar {
    padding: 8px 16px;
}

.header__navbar-list {
    list-style: none;
    display: flex;
}

.header__navbar-item {
    padding: 0 12px;
}

.header__navbar-link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    position: relative;
}

.header__navbar-link::after {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-top: 10px;
    display: none;
    transition: 0.3s;
}

.header__navbar-item:hover .header__navbar-link::after {
    display: block;
}

.header__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img-user {
    width: 40px;
    height: 40px;
    position: relative;
    top: 1px;
    background: url(https://order.thecoffeehouse.com/_nuxt/img/Login.70dc3d8.png) top center / cover no-repeat;
}

.header__img-user:hover .header__img-form{
    display: block;
}

.header__img-form{
    border-radius: 10px;
    transition: 1s ;
    position: absolute;
    padding: 22px;
    top:44px;
    right: 0;
    background-color: #fff;
    width: 188px;
    border: 1px solid rgba(230, 222, 222, 0.3);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.header__img-form-icon{
    float: right;
    transform: translate(-1px,-8px);
    width: 12px;
    cursor: pointer;
}

.header__img-list{
    padding: 15px 0 16px;
}

.header__img-search{
    display: flex;
    align-items: center;
}

.header__img-search-text{
    padding-left: 17px;
    font-size: 14px;
    font-weight: 500;
}

.header__img-bag {
    width: 70px;
    height: 70px;
    position: relative;
    top: 3px;
}
/* Header notify */
.header__notify.open{
    display: block;
} 

.header__notify{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(14 13 13 / 56%);
    animation: 2s;
    display:none; 
}

.header__notify-form{
    padding: 0 32px 0 15px;
}

.header__notify-sub{
    padding: 150px 168px 0;
}

.header__notify-sub-heading{
    background-color: #fff;
    width: 155px;
    border: 1px dashed #fb8d17;
    padding: 8px;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    top: 34px;
    z-index: 100;
}

.header__notify-form-content{
    background-color: #F3840D;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 6px 12px 6px 6px;
    /* position: absolute; */
}

.header__notify-form-img{
    width: 40px;
    height: 40px;
}

.header__notify-form-heading{
    padding-left: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.header__notify-sub-input{
    background-color: #fff;
    padding: 56px 20px 20px;
    border-radius: 8px;
    position: relative;
    max-width: 750px;
    margin: 0 auto;
}

.header__notify-form-input{
    padding: 6px 12px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    width: 100%;
    outline: none;
    color: #262626;
    font-weight: 400;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);

}


/* App Container */
.slider {
    background-color: #FEAD3C;
    width: 100%;
    margin-top: 80px;
    padding: 18px 0;
}

.slider__img {
    border: 1px solid rgba(230, 222, 222, 0.3);
    background: url('../assets/img/Slider.jpg') top center / contain no-repeat;
    padding-top: 40%;
    cursor: pointer;
}

.product {
    padding: 50px 0;
}

.product__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.product__title-icon {
    font-weight: 900;
    font-size: 22px;
    color: #FAA515;
    margin-right: 12px;
}

.product__title-main {
    font-size: 30px;
    font-weight: 500;
    
}

.product__public {
    max-width: 910px;
    margin: 0 auto; 
    padding-bottom: 14px;
}

.product__public-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.product__public-item {
    padding: 8px 16px;
    
}

.product__public-link {
    text-decoration: none;
    display: block;
    padding: 0 0 8px 16px;
    text-align: center;
}

.product__public-img {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #FFF7E6;
}

.product__public-type {
    color: #B2B2B2;
    font-size: 12px;
    margin-top: 6px;
}

.product__many{
    margin: 0 12px 48px;
}

.product__many-item{
    padding: 10px;
    display: block;
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    
}

.product__many-sub{
    margin-top: 16px;
}

.product__many-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.product__many-heading{
    font-size: 14px;
    color: #262626;
    margin: 12px 0 8px;
    height: 48px;
}

.product__many-main{
    display: flex;
    justify-content: space-between;
    color: #262626;
    align-items: center;
    
}

.product__many-price{
    font-size: 14px;
    
}

.product__many-plus{
    font-size: 32px;
    color: #FA8C16;
}

.product__many-plus i{
    width: 32px;
    height: 32px;
    display: block;
}
/* Product news */
.product__news{
    padding: 50px 12px 26px;
}

.product__news-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.product__news-icon{
    font-weight: 900;
    margin-right: 12px;
    font-size: 22px;
    
}

.product__news-icon i{
    color: #FAAB24;
    width: 24px;
    height: 22px;
}

.product__news-heading{
    font-size: 28px;
    color: #252627;
    line-height: 36px;
    font-weight: 500;
}

.product__news-space{
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.product__news-main{
    margin-bottom:16px ;
    
}

.product__news-img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
   width: 100%;
   height: 150px;
   object-fit: cover;
   flex-shrink: 0;
   cursor: pointer;
    
}

.product__news-pre{
    padding: 14px;
}

.product__news-dis{
    font-size: 14px;
    color: #262626;
    height: 56px;
    margin-bottom: 8px;
    font-weight: 600;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__news-button{
    height: 38px;
    text-align: center;
}

.product__news-read{
    padding: 12px 20px;
    background-color: #FDA12E;
    text-decoration: none;
    color: #fff;
    float: right;
    font-size: 12px;
    border-radius: 18px;
}
/* Product rate */
.product__rate{
    padding: 50px 0;
    background-color: #D1760E;
}

.product__rate-content{
    display: flex;
    padding: 0 12px;
    height: 515px;
    align-items: center;
}

.product__rate-main{
    display: flex;
}

.product__rate-apps{
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 54px;
}

.product__rate-local{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 8px;
    height: 104px;
}

.product__rate-apps-title{
    width: 100px;
}

.product__rate-apps-heading{
    margin-left: 14px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.product__rate-img{
    display: flex;
    margin-top: 12px;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);

}

.product__rate-img-appStore{
    width: 100px;
    height: 30px;
    margin-right: 8px;
}

.product__rate-img-googlePlay{
    width: 100px;
    height: 30px;
}

.product__rate-comment{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/* Product more */
.product__more{
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.product__more-general{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__more-plus-img{
    padding: 20px 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.home__infor{
    height: 100px;
    text-align: center;
}

.product__more-sub{
    display: flex;
    width: 100%;
    padding: 12px 0;
    position: relative;
    cursor: pointer;
}

.product__more-sub::after{
    display: block;
    content: " ";
    position: absolute;
    border-bottom: 1px solid rgb(42 137 137);
    left: 0;
    width: 100%;
    bottom: 0;
}

.home__infor-icon{
    margin-right: 8px;
}

.home__infor-heading{
    font-size: 16px;
}

/* Footer */
.footer__content{
    padding: 12px 0;
    background-color: #000;
}

.footer__content-disc{

}

.footer__content-disc-text{
    height: 56px;
    line-height: 56px;
    color: #fff;
    font-size: 14px;
}

.footer__content-disc-img{
    float: right;
    cursor: pointer;
}

